{% extends 'base.html.twig' %}

{% block title %}Combates {{evento.nombre}}{% endblock %}
{% block body %}
<div class="container">
    <section class="normal-breadcrumb set-bg" data-setbg="{{ asset('img/'~ evento.imagen )}}">
        <div class="col-lg-12 text-center">
            <div class="normal__breadcrumb__text">
                <h2>{{evento.nombre}}</h2>
            </div>
        </div>
    </section>
    <br>
    {% for combate in combates %}
        <div class="row">
        {% if app.user %}
            <h3 class="text-light">{{combate.nombre}} <a href="{{path('app_apuesta_new', {'id': combate.id})}}" class="site-btn" role="button" aria-pressed="true">Apostar</a></h3> 
        </li>
        {% else %}
            <h3 class="text-light">{{combate.nombre}} <a href="{{path('app_login')}}" class="site-btn" role="button" aria-pressed="true">Apostar</a></h3> 
        {% endif %}
        </div>
        <br>
    {% endfor %}
</div>
{% endblock %}
