<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="{{path('app_apuestas')}}">
                        <img src="{{ asset('img/LOGO2.png') }}">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="{{ path('app_apuestas')}}">Inicio</a></li>
                            <li><a href="{{ path('app_evento_index')}}">Eventos<span></span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                    <a href="#" class="search-switch"><span class="icon_search"></span></a>
                    {% if app.user %}
                            <a href="{{ path('app_user_show',{'id':app.user.userIdentifier})}}"><span class="icon_profile"></span></a>
                            <a href="{{ path('app_logout') }}"><span >cerrar sesion</span></a>
                    {% else %}
                            <a href="{{ path('app_login')}}"><span class="icon_profile"></span></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>