<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}
                Apuestas UFC!
            {% endblock %}
        </title>

        {% block stylesheets %}
            <!-- Google Font -->
            <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
            <!-- Css Styles -->
           
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/elegant-icons.css') }}">
            <link rel="stylesheet" href="{{ asset('css/plyr.css') }}">
            <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
            <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/slicknav.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
        
    </head>
    <body>
        {% include '_menu.html.twig' %}
            {% block body %}
                
            {% endblock %}
        
            {% block javascripts %}
                <!-- Js Plugins -->
                <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
                <script src="{{ asset('js/bootstrap.min.js') }}"></script>
                <script src="{{ asset('js/player.js') }}"></script>
                <script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
                <script src="{{ asset('js/mixitup.min.js') }}"></script>
                <script src="{{ asset('js/jquery.slicknav.js') }}"></script>
                <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
                <script src="{{ asset('js/main.js') }}"></script>
            {% endblock %}
        </body>
        
</html>
