<div class="container">
    <section class="normal-breadcrumb set-bg" data-setbg="{{ asset('img/ingreso.jpg' )}}">
    </section>
    <br>
    {{ form_start(form)}}
        <div class="container">
            <div class="row justify-content-center">
                <h3 class='text-white'>Importe(€)</h3>
            </div>
            <div class="row justify-content-center">
                {{ form_widget(form.importe, { 'attr': {'class': 'nice-select'}} )}}
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="form-row">
                    <div class ="col">
                    </div>
                    <div class ="col">
                        <button type="submit" class="site-btn">Realizar ingreso</button>
                    </div>
                    {{ form_end(form, {render_rest: false}) }}
                    <div class ="col">
                        <button class="site-btn"><a class= "text-white"href="{{ path('app_user_edit',{'id':user.id}) }}">Volver atrás</a></button>
                    </div>
                    <div class ="col">
                    </div>
                </div>           
            </div>
</div>
<div class="container">
    <div class="row justify-content-center">
    <h2 class="text-white">Movimientos</h2>
        <table class="table bg-light">
            <thead style="background-color:#e53637">
                <tr>
                    <th scope="col">Id</th>
                    <th>Concepto</th>
                    <th>Importe(€)</th>
                </tr>
            </thead>
            <tbody>
                {% for movimiento in movimientos %}
                <tr>
                    <th scope="row">{{movimiento.id}}</th>
                    <td>{{movimiento.concepto}}</td>
                    <td>{{movimiento.importe}}€</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>