{% extends 'base.html.twig' %}

{% block title %}MovimientosFinancieros index{% endblock %}

{% block body %}
    <h1>MovimientosFinancieros index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Importe</th>
                <th>Concepto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movimientos_financiero in movimientos_financieros %}
            <tr>
                <td>{{ movimientos_financiero.id }}</td>
                <td>{{ movimientos_financiero.Importe }}</td>
                <td>{{ movimientos_financiero.Concepto }}</td>
                <td>
                    <a href="{{ path('app_movimientos_financieros_show', {'id': movimientos_financiero.id}) }}">show</a>
                    <a href="{{ path('app_movimientos_financieros_edit', {'id': movimientos_financiero.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_movimientos_financieros_new') }}">Create new</a>
{% endblock %}
